{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Gallery for Group Event!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>




{% for group in groups %}
<div class="row-fluid">
  <div class = "span">
    <h2> {{ group['group_name'] }} </h2>
  </div>
</div>

{% set group_name = group['group_name'] %}
{% for images_six in imagesList[group_name] | batch(6) %}
<div class="row-fluid">
  {% for image in images_six %}
  <div class="span2">
    <a href="../{{ image.image_path }}">
      <img src="../{{ image.image_path }}" class="img-rounded">
    </a>
  </div>
  {% endfor %}
</div>
{% endfor %}

{% endfor %}




{% endblock %}
