{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Gallery for Group Event!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


<div class="row-fluid">

  <div class="span6">

    <form action="{{ url_for('upload_file') }}" method="post" 
          enctype=multipart/form-data>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="fileupload-preview thumbnail" 
             style="width: 200px; height: 150px;"></div>
        <div>
          <span class="btn btn-file">
            <span class="fileupload-new">Select image</span>
            <span class="fileupload-exists">Change</span>
            <input type="file" name="file" /></span>
          <a href="#" class="btn fileupload-exists" 
             data-dismiss="fileupload">Remove</a>
        </div>
      </div>
      <input type=submit value=Upload>
    </form>
  </div>

  <div class="span6">
    <h2> Please confirm the group images </h2>
    <form class="form-horizontal" action="{{ url_for('user_agree') }}"
          method="post">      
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Agree</button>
        </div>
      </div>
    </form>
    <form class="form-horizontal" action="{{ url_for('user_refuse') }}"
          method="post">      
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Refuse</button>
        </div>
      </div>
    </form>
    
  </div>


</div> <!-- end of a row -->

<div class="row-fluid">
  <div class = "span">
    <h2> Unconfirmed Group Image </h2>
  </div>
</div> <!-- end of a row -->



<!-- display unconfirmed images as a gallery -->
  {% for images_six in images|batch(6) %}
  <div class="row-fluid">
    {% for image in images_six %}
    <div class="span2">      
      <a href="../{{ image.image_path }}">
        <img src="../{{ image.image_path }}" class="img-rounded">
      </a>
    </div>
    {% endfor %}
  </div> <!-- end of a row -->

  {% endfor %}
    



{% endblock %}
