{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Gallery for Group Event!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


<div class="row-fluid">
  <div class = "span">
    <h2> Unconfirmed Group Image </h2>
  </div>
</div>

<div class="row">
  <div class="span2">
    <a href="../static/img/einstein.jpg">
      <img src="../static/img/einstein.jpg" class="img-rounded">
    </a>
  </div>
  <div class="span2">
    <a href="../static/img/dirac.jpg">
      <img src="../static/img/dirac.jpg" class="img-rounded">
    </a>
  </div>
  <div class="span2">
    <a href="../static/img/curie.jpg">
      <img src="../static/img/curie.jpg" class="img-rounded">
    </a>
  </div>
  <div class="span2">
    <a href="../static/img/Euler.jpg">
      <img src="../static/img/Euler.jpg" class="img-rounded">
    </a>
  </div>
  <div class="span2">
    <a href="../static/img/gauss.jpeg">
      <img src="../static/img/gauss.jpeg" class="img-rounded">
    </a>
  </div>
  <div class="span2">
    <a href="../static/img/newton.jpeg">
      <img src="../static/img/newton.jpeg" class="img-rounded">
    </a>
  </div>

</div>

{% endblock %}
